@import "tailwindcss";

@theme {
  --max-width: 640px;

  --color-primary-color: #1e293b;
  --color-primary-color-hover: #141b27;
  --color-gray-main: #5c5c5c;
  --color-gray-main-hover: #3c3b3b;

  --color-primary-text-color: #111;

  --header-height: 60px;

  --footer-height: 62px;

  --text-small: 12px;
  --text-middle: 14px;
  --text-large: 16px;
}

.fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}